@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import url('./highlight-github.css');

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
